// out: style.css, compress: true, strictMath: true, sourceMap: true
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// VARIABLES
// COLORS
@white: #ffffff;
@black: #1d2321;
@grey: #7e7f83;
@purple: #9f64d8;
@blue: #6a2ecd;
@light-blue: rgba(194,241,255, 0.8);


// ALIGNMENT
@width: 1000px;
@centered: 0 auto;
@margin-20: 20px;


body {
    font-family: "museo-sans", sans-serif;
    font-size: 16px;
}

header {
    margin-top: 5%;
}

nav {
    max-width: @width;
    margin: @centered;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    margin-left: 5%;
    font-weight: 300;

    li:not(:first-child) {
        margin-left: 30px;
    }

    a {
        color: @black;
        font-weight: bold;
        font-size: 1.2em;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 1.8em;
        text-decoration: none;
        position: relative;
    } // UNDERLINE
    a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 7px;
        bottom: 0.5px;
        left: 0;
        z-index: -1;
        background-color: @light-blue;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

}

.about {
    margin-left: 20px;
    text-align: center;
    max-width: @width;
    margin: @centered;

    h1 {
        font-size: 3em;
        color: @black;
        line-height: 1.8em;
        font-weight: 300;
        margin: 20px 0 20px 0;
    }

    .photo-profile {
            img {
            border-radius: 50%;
            max-width: 150px;
            height: auto;
           
        }
    }
    
    p {
        font-size: 1.1em;
        line-height: 1.5em;
    }
}

.portfolio {
    max-width: @width;
    margin: @centered;
    display: flex;
    justify-content: space-around;    
    
    column-1, column-2 {
        display: flex;
        flex-direction: column;
        
        figure {
            flex-basis: 50%;
        }

    }
    
}

img {
    max-width: 480px;
    height: auto;
}

::selection {
    background-color: @light-blue;
}

footer {
    background-color: @blue;
    color: @white;    
    margin: 0px;
    padding: 0px;
    max-width: 100vw;
    height: 100vh;
    text-align: center;
    
    p {
        vertical-align: middle;
    }
}


