{% extends "layout.html" %}
{% block content %}
<div class="home">
    <section class="about">
        <div class="photo-profile">
               
            <img src= "static/img/photo.jpg" alt="" />
            <span></span>
        </div>
        <h1>Hi, I'm Šárka</h1>
        <p>These are some of my projects: creations that bring me joy
            while letting me learn new things.</p>
        <p>I specialize in designs that look good and work well—with both visuals and accessibility in mind. No effects
            for
            effects' sake; but cool, responsive and intuitive designs that get the message across and make the web a
            more welcoming
            place for everyone.</p>
        <p>Have an interesting proposal? I'm listening.</p>
        <p class="tech">Technologies: HTML+CSS, LESS, JS, jQuery</p>
        
        <a href="#portfolio" class="arrow-down"><img src="" alt="Arrow down" /></a>
    </section>
</div>
{% endblock %}