<!DOCTYPE html>
<html lang="eng">

<head>    
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.typekit.net/anc5cdq.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="script.js"></script>

    <title>Šárka Ševčíková : portfolio</title>
</head>

<body>
    <header>
        <div class="container">

            <strong>
                <nav>
                    <ul class="menu">
                        <li><a href="{{ url_for('home') }}">My Work</a></li>
                        <li role="menuitem"><a href="{{ url_for('home') }}">Contact</a></li>
                        <li></li>
                    </ul>
                </nav>
            </strong>
        </div>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>